<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">CoreCluster CI at %h</name>
  <service>
    <type>_corecluster_ci._tcp</type>
    <port>8001</port>
  </service>
</service-group>