Source: corecluster
Section: contrib
Priority: extra
Maintainer: Marta Nabozny <martastrzet@gmail.com>
Build-Depends: debhelper (>= 8.0.0), dh-systemd
Standards-Version: 3.9.4
Homepage: http://cloudover.org/

Package: corecluster
Architecture: all
Depends: corecluster-auth-db, corecluster-algorithm-id-uuid, corecluster-algorithm-node-default, corecluster-algorithm-storage-default, corecluster-storage-libvirt, corenetwork, corosync, libvirt-bin | libvirt-libvirt-daemon-system, libvirt-bin | libvirt-clients, nfs-common, nginx-extras, ntpdate, openssh-server, python-dev, python-libvirt, python-pip, quagga, redis-server, qemu-utils, sqlite3, sudo, uwsgi, uwsgi-plugin-python
Conflicts: overcluster-core
Description: Main CoreCluster cloud component
 This package contains core components to run basic version of CoreCluster.
